In [1]:
# Continue to dictionary

# Let's create a tuple - tuple is a set of items
# How to create a tuple 
tup = (1, 2, 3)

In [2]:
# Once you create, you can't change it - immutable
# tup[0] = 5

In [3]:
# String is also immutable
# my_string = 'George'
# my_string[0] = 'a'

In [4]:
# Tuple can have repeated elements
tup = (1, 1, 1, 1, 1)
tup

(1, 1, 1, 1, 1)

In [5]:
# Another way to create a tuple
tup = 1, 2, 3, 4, 5

# The same as tup = (1, 2, 3, 4, 5)
# Just different!

tup

(1, 2, 3, 4, 5)

In [6]:
# Interview question: What is dynamic typing in Python
# You don't have to tell python what type of variable you
# are creating, python will figure it out

# Example: Java 
# int my_num = 0;

# Example: Python
# my_num = 0
# my_num_str = '0'

In [7]:
# One way tuple is useful
# Unpacking the tup (1, 2, 3, 4, 5) into a, b, c, d, e
a, b, c, d, e = tup

print(a, b, c, d, e)

1 2 3 4 5

In [8]:
# same with list
# tuple can have mixed type elements
another_tup = ('apple', 1, 3.14, [1, 2, 3])

In [9]:
another_tup

('apple', 1, 3.14, [1, 2, 3])

In [10]:
# You can actually change the element
# if they are themselve mutatable
another_tup[-1][0] = 999

In [11]:
another_tup

('apple', 1, 3.14, [999, 2, 3])

In [12]:
# What is the difference between a tuple and a set
# To create a set
my_set = {1, 2, 3}
type(my_set)

set

In [13]:
# the difference: set can NOT have duplicates
# while tuple can have duplicate
my_set = {1, 1, 1}
my_set

{1}

In [14]:
# One usage of set is to quickly de-dup
my_list = ['a', 'a', 'b', 'b', 'c']
my_list_dedup = list(set(my_list))

# Note: The order is random...
my_list_dedup

['c', 'b', 'a']

In [15]:
# if you want to sort the above example
sorted(list(set(my_list)))

['a', 'b', 'c']

In [16]:
# Copy the dictionary from yesterday
# Create another dictionary with multiple items
another_dict = {'Monday': 100,
                'Tuesday': 200,
                'Wednesday': 300,
                'Thursday': 400,
                'Friday': 500}

In [17]:
type(another_dict.items())

dict_items

In [18]:
list(another_dict.items())

[('Monday', 100),
 ('Tuesday', 200),
 ('Wednesday', 300),
 ('Thursday', 400),
 ('Friday', 500)]

In [19]:
# Access the elements
list(another_dict.items())[2:6]

[('Wednesday', 300), ('Thursday', 400), ('Friday', 500)]

In [20]:
# Access the elements
list(another_dict.items())[-3:]

[('Wednesday', 300), ('Thursday', 400), ('Friday', 500)]

In [21]:
first_element = list(another_dict.items())[0][0]

In [22]:
type(first_element)

str

In [23]:
first_element[0]

'M'

In [24]:
# Access the first value of the first element in the dictionary items
list(another_dict.items())[0][0]

# The same method but longer
list_of_dict_items = list(another_dict.items())
# The first element in the list of tuples
first_element = list_of_dict_items[0]
# The first value in the tuple ('Monday', 100)
first_value = first_element[0]
first_value

'Monday'

In [25]:
another_dict

{'Monday': 100,
 'Tuesday': 200,
 'Wednesday': 300,
 'Thursday': 400,
 'Friday': 500}

In [29]:
# Get method
another_dict.get('Sunday', 'Not_Found!')

Not_Found!

In [31]:
# Shortcut for iterator(another_dict.keys())
for key in iter(another_dict):
    print(key)

Monday
Tuesday
Wednesday
Thursday
Friday

In [32]:
# Deep copy
copy_dict = another_dict.copy()

In [33]:
copy_dict

{'Monday': 100,
 'Tuesday': 200,
 'Wednesday': 300,
 'Thursday': 400,
 'Friday': 500}

In [34]:
another_dict.pop('Monday')

100

In [35]:
my_num_str = '700'
my_num_str.center(10)

'   700    '

In [36]:
my_num_str.isalnum()

True

In [38]:
my_name_str = 'George'
my_name_str.isalpha()

True